<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="script.js"></script>
    <title>Tic Tac Toa</title>
    <style>
      body {
        text-align: center;
      }
      .board {
        margin: auto;
        width: 350px;
      }
      .board button {
        height: 100px;
        width: 100px;
        margin: 0px;
        padding: 0px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 3em;
      }
      #stgame {
        width: 92%;
        height: 14%;
        /* background-color: rebeccapurple; */
      }
    </style>
  </head>
  <body>
    <div class="board">
      <button class="buttons" id="a0"></button> <button class="buttons" id="a1"></button>
      <button class="buttons" id="a2"></button> <button class="buttons" id="b0"></button>
      <button class="buttons" id="b1"></button> <button class="buttons" id="b2"></button>
      <button class="buttons" id="c0"></button> <button class="buttons" id="c1"></button>
      <button class="buttons" id="c2"></button>
      <div id="messages"></div>
      <button id="stgame" >Start Game</button>
    </div>
  </body>
</html>
